@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}
body{
    background-image: url(img/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*responsive */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
h1{
    padding: 2rem;
    text-align: center;
    margin-top: 2px;
    color:#283618;
}
#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#info div{
    padding: 3rem;
    background-color: #ddbea975;
    margin: 0.5rem;
    border-radius: 10px;
    color:#283618;
    font-size: 1.2rem;
    text-align: center;
}